version: '3.8'

services:
  # Service 1: Le Backend (API FastAPI)
  backend:
    build:
      context: ./backend      # Le Dockerfile est dans /backend, PAS dans /backend/src
    container_name: crime-api-backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    environment:
      DAGSHUB_USERNAME: ${DAGSHUB_USERNAME}
      DAGSHUB_TOKEN: ${DAGSHUB_TOKEN}
      DAGSHUB_REPO_NAME: ${DAGSHUB_REPO_NAME}

  # Service 2: Frontend Streamlit
  frontend:
    build:
      context: ./frontend
    container_name: crime-app-frontend
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
    environment:
      API_URL: http://backend:5000
