apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 1 # En prod, on mettrait 2 ou 3 pour la haute disponibilité
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: imen835/mlops-crime:backend-latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        
        # --- 1. Gestion des Secrets et Config ---
        envFrom:
        - secretRef:
            name: mlops-secrets
        
        # --- 2. Allocation des Ressources (CRUCIAL MLOps) ---
        resources:
          requests:
            memory: "256Mi" # Mémoire garantie
            cpu: "250m"     # 1/4 de coeur CPU garanti
          limits:
            memory: "1Gi"   # Plafond (si dépasse, K8s tue le pod)
            cpu: "1000m"    # 1 coeur CPU max

        # --- 3. Sondes de Santé ---
        # Vérifie si l'API a fini de charger le modèle au démarrage (Délai de grâce)
        startupProbe:
          httpGet:
            path: / # FastAPI a une route racine
            port: 5000
          failureThreshold: 30 # Essaie 30 fois
          periodSeconds: 10    # Toutes les 10s (Total 300s pour télécharger le modèle)
        
        # Vérifie si l'API est toujours vivante en continu
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP